# Objectives:
* Importing raw CSV Master Data Table
* Removing comma seperation for number >1000
* Selectively choosing and exporting data pertinent to the planned visualizations
* Splitting one series to multiple, convert data type
* Performing quick value_counts for some columns

## Import Dependencies

In [1]:
import pandas as pd
import csv
import os
import datetime as dt
import numpy as np

## Import CSV

In [2]:
csv_path = os.path.join ("Data", "UCS_Satellite_Master.csv")
print (csv_path)

Data\UCS_Satellite_Master.csv

In [3]:
with open (csv_path, "r", encoding="UTF-8", newline="") as file_handler:
    data = csv.reader(file_handler, delimiter=",")

In [4]:
# unicode_escape is used as there are other non-ASCII characters 
df = pd.read_csv(csv_path, index_col=0, encoding= 'cp1252', parse_dates= ["Launch_Date"])
df

,Country_of_Operator_Owner,Operator_Owner,Users_Names,Purpose,Orbit_Classes,Orbit_Types,Perigee_km,Apogee_km,Inclination_degrees,Period_minutes,...,Power_watts,Launch_Date,Expected_Lifetime_years,Contractors_Names,Contractors_Country_Names,Launch_Site,Launch_Vehicle,COSPAR_Number,NORAD_Number,Comments
Satellite_Names,,,,,,,,,,,,,,,,,,,,,
1HOPSAT-TD (1st-generation High Optical Performance Satellite),USA,Hera Systems,Commercial,Earth Observation,LEO,Non-Polar Inclined,566,576,36.90,96.08,...,0,2019-12-11,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,2019-089H,44589,Pathfinder for planned earth observation const...
"TDRS-3 (Tracking and Data Relay Satellite, TDRS-C)",USA,National Aeronautics and Space Administration ...,Government,Communications,GEO,Not Available,"35,693","35,878",11.53,1436.06,...,"1,800",1988-09-29,10.0,TRW Defense and Space Systems Group,USA,Cape Canaveral,Space Shuttle (STS 26),1988-091B,19548,Backup; still partially operational.
FLTSATCOM-8 (USA 46),USA,US Navy,Military,Communications,GEO,Not Available,"35,745","35,829",8.97,"1,436.13",...,0,1989-09-25,5.0,"TRW, Defense and Space Systems Group",USA,Cape Canaveral,Atlas Centaur,1989-077A,20253,Old system replaced by UFO satellites; this sa...
AAUSat-4,Denmark,University of Aalborg,Civil,Earth Observation,LEO,Sun-Synchronous,442,687,98.20,95.9,...,0,2016-04-25,0.0,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,2016-025E,41460,Carries AIS system.
Skynet 4C,United Kingdom,Intelsat/Paradigm Secure Communications (wholl...,Military,Communications,GEO,Not Available,"35,775","35,797",13.60,1436.07,...,"1,200",1990-08-30,7.0,Astrium,France/UK/Germany,Guiana Space Center,Ariane 44LP,1990-079A,20776,Spare. In March 2010 it was announced that the...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zhuhai-1-03 (OVS-3),China,Zhuhai Orbita Control Engineering Co. Ltd.,Commercial,Earth Observation,LEO,Sun-Synchronous,494,511,97.40,94.6,...,0,2019-09-19,0.0,Zhuhai Orbita Control Engineering Co. Ltd.,China,Jiuquan Satellite Launch Center,Long March 11,2019-060A,44534,Not Available
Ziyuan 1-02C,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,763,773,98.56,100.2,...,0,2011-12-22,0.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2011-079A,38038,Can acquire high-resolution data through remot...
Ziyuan 1-2D,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,748,758,98.50,99.8,...,0,2019-09-14,5.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2019-059A,44528,Hyperspectral imaging
Ziyuan 3 (ZY-3),China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,500,504,97.50,94.7,...,0,2012-01-09,4.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2012-001A,38046,Land survey satellite.
Ziyuan 3-2,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,487,500,97.50,94.49,...,0,2016-05-29,4.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2016-033A,41556,Thought to be for intelligence gathering.

In [5]:
# reset default index
# create new columns called Orig_Sequence to make sure even when data is splitting
# the order of the original data is preserved
df.reset_index(inplace=True)
df.insert(0, "Orig_Sequence", df.index)

In [6]:
pd.set_option('display.max_columns', None)
df.head()

,Orig_Sequence,Satellite_Names,Country_of_Operator_Owner,Operator_Owner,Users_Names,Purpose,Orbit_Classes,Orbit_Types,Perigee_km,Apogee_km,Inclination_degrees,Period_minutes,Launch_Mass_km,Dry_Mass_kg,Power_watts,Launch_Date,Expected_Lifetime_years,Contractors_Names,Contractors_Country_Names,Launch_Site,Launch_Vehicle,COSPAR_Number,NORAD_Number,Comments
0,0,1HOPSAT-TD (1st-generation High Optical Perfor...,USA,Hera Systems,Commercial,Earth Observation,LEO,Non-Polar Inclined,566,576,36.90,96.08,22,0,0,2019-12-11,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,2019-089H,44589,Pathfinder for planned earth observation const...
1,1,"TDRS-3 (Tracking and Data Relay Satellite, TDR...",USA,National Aeronautics and Space Administration ...,Government,Communications,GEO,Not Available,"35,693","35,878",11.53,1436.06,"3,180","1,600","1,800",1988-09-29,10.0,TRW Defense and Space Systems Group,USA,Cape Canaveral,Space Shuttle (STS 26),1988-091B,19548,Backup; still partially operational.
2,2,FLTSATCOM-8 (USA 46),USA,US Navy,Military,Communications,GEO,Not Available,"35,745","35,829",8.97,"1,436.13","2,310","1,884",0,1989-09-25,5.0,"TRW, Defense and Space Systems Group",USA,Cape Canaveral,Atlas Centaur,1989-077A,20253,Old system replaced by UFO satellites; this sa...
3,3,AAUSat-4,Denmark,University of Aalborg,Civil,Earth Observation,LEO,Sun-Synchronous,442,687,98.20,95.9,1,0,0,2016-04-25,0.0,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,2016-025E,41460,Carries AIS system.
4,4,Skynet 4C,United Kingdom,Intelsat/Paradigm Secure Communications (wholl...,Military,Communications,GEO,Not Available,"35,775","35,797",13.60,1436.07,"1,474",850,"1,200",1990-08-30,7.0,Astrium,France/UK/Germany,Guiana Space Center,Ariane 44LP,1990-079A,20776,Spare. In March 2010 it was announced that the...

In [7]:
df.columns

Index(['Orig_Sequence', 'Satellite_Names', 'Country_of_Operator_Owner',
       'Operator_Owner', 'Users_Names', 'Purpose', 'Orbit_Classes',
       'Orbit_Types', 'Perigee_km', 'Apogee_km', 'Inclination_degrees',
       'Period_minutes', 'Launch_Mass_km', 'Dry_Mass_kg', 'Power_watts',
       'Launch_Date', 'Expected_Lifetime_years', 'Contractors_Names',
       'Contractors_Country_Names', 'Launch_Site', 'Launch_Vehicle',
       'COSPAR_Number', 'NORAD_Number', 'Comments'],
      dtype='object')

In [8]:
# function to remove non-ASCII
def remove_non_ascii(text):
    return ''.join([i if ord(i) < 128 else '' for i in text])

In [9]:
targ_cols = ['Satellite_Names', 'Country_of_Operator_Owner', 'Operator_Owner',
       'Users_Names', 'Purpose', 'Orbit_Classes', 'Orbit_Types', 'Contractors_Names', 'Contractors_Country_Names', 'Launch_Site',
       'Launch_Vehicle', 'Comments']
i=0
for each_col in targ_cols:
    print(f"{('=')*20}\nProcessing columns {each_col}")
    df[each_col] = df[each_col].apply(remove_non_ascii)
    i+=1
    print(f"{i}/{len(targ_cols)} columns")
          
    if i == len(targ_cols):
          print(f'{("=")*20}\nProcess Completed!')

====================
Processing columns Satellite_Names
1/12 columns
====================
Processing columns Country_of_Operator_Owner
2/12 columns
====================
Processing columns Operator_Owner
3/12 columns
====================
Processing columns Users_Names
4/12 columns
====================
Processing columns Purpose
5/12 columns
====================
Processing columns Orbit_Classes
6/12 columns
====================
Processing columns Orbit_Types
7/12 columns
====================
Processing columns Contractors_Names
8/12 columns
====================
Processing columns Contractors_Country_Names
9/12 columns
====================
Processing columns Launch_Site
10/12 columns
====================
Processing columns Launch_Vehicle
11/12 columns
====================
Processing columns Comments
12/12 columns
====================
Process Completed!

In [10]:
# export master with orig seq to csv
df.to_csv(os.path.join("Data", "Satellite_Launch_MasterCL.csv"), index=False)
df

,Orig_Sequence,Satellite_Names,Country_of_Operator_Owner,Operator_Owner,Users_Names,Purpose,Orbit_Classes,Orbit_Types,Perigee_km,Apogee_km,Inclination_degrees,Period_minutes,Launch_Mass_km,Dry_Mass_kg,Power_watts,Launch_Date,Expected_Lifetime_years,Contractors_Names,Contractors_Country_Names,Launch_Site,Launch_Vehicle,COSPAR_Number,NORAD_Number,Comments
0,0,1HOPSAT-TD (1st-generation High Optical Perfor...,USA,Hera Systems,Commercial,Earth Observation,LEO,Non-Polar Inclined,566,576,36.90,96.08,22,0,0,2019-12-11,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,2019-089H,44589,Pathfinder for planned earth observation const...
1,1,"TDRS-3 (Tracking and Data Relay Satellite, TDR...",USA,National Aeronautics and Space Administration ...,Government,Communications,GEO,Not Available,"35,693","35,878",11.53,1436.06,"3,180","1,600","1,800",1988-09-29,10.0,TRW Defense and Space Systems Group,USA,Cape Canaveral,Space Shuttle (STS 26),1988-091B,19548,Backup; still partially operational.
2,2,FLTSATCOM-8 (USA 46),USA,US Navy,Military,Communications,GEO,Not Available,"35,745","35,829",8.97,"1,436.13","2,310","1,884",0,1989-09-25,5.0,"TRW, Defense and Space Systems Group",USA,Cape Canaveral,Atlas Centaur,1989-077A,20253,Old system replaced by UFO satellites; this sa...
3,3,AAUSat-4,Denmark,University of Aalborg,Civil,Earth Observation,LEO,Sun-Synchronous,442,687,98.20,95.9,1,0,0,2016-04-25,0.0,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,2016-025E,41460,Carries AIS system.
4,4,Skynet 4C,United Kingdom,Intelsat/Paradigm Secure Communications (wholl...,Military,Communications,GEO,Not Available,"35,775","35,797",13.60,1436.07,"1,474",850,"1,200",1990-08-30,7.0,Astrium,France/UK/Germany,Guiana Space Center,Ariane 44LP,1990-079A,20776,Spare. In March 2010 it was announced that the...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,2661,Zhuhai-1-03 (OVS-3),China,Zhuhai Orbita Control Engineering Co. Ltd.,Commercial,Earth Observation,LEO,Sun-Synchronous,494,511,97.40,94.6,55,0,0,2019-09-19,0.0,Zhuhai Orbita Control Engineering Co. Ltd.,China,Jiuquan Satellite Launch Center,Long March 11,2019-060A,44534,Not Available
2662,2662,Ziyuan 1-02C,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,763,773,98.56,100.2,"1,500",0,0,2011-12-22,0.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2011-079A,38038,Can acquire high-resolution data through remot...
2663,2663,Ziyuan 1-2D,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,748,758,98.50,99.8,"2,650",0,0,2019-09-14,5.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2019-059A,44528,Hyperspectral imaging
2664,2664,Ziyuan 3 (ZY-3),China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,500,504,97.50,94.7,"2,650",0,0,2012-01-09,4.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2012-001A,38046,Land survey satellite.
2665,2665,Ziyuan 3-2,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,Sun-Synchronous,487,500,97.50,94.49,"2,630",0,0,2016-05-29,4.0,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,2016-033A,41556,Thought to be for intelligence gathering.

In [11]:
# create three new columns to for day, month and year
df["Launch_Day"] = df["Launch_Date"].dt.day
df["Launch_Month"] = df["Launch_Date"].dt.month
df["Launch_Year"] = df["Launch_Date"].dt.year

### Satellite Counts by Country / 46 years

In [12]:
# new sliced table called Sat_46_yr :: 
# the historical countries that have satellite in the last 40 years

In [13]:
extracted_country_list = []
for index, row in df.iterrows():
    splitted_list = row['Country_of_Operator_Owner'].split("/")
    for each_country in splitted_list:
        extracted_country_list.append(each_country)
extracted_country_list

['USA',
 'USA',
 'USA',
 'Denmark',
 'United Kingdom',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Luxembourg',
 'USA',
 'USA',
 'Canada',
 'USA',
 'USA',
 'United Kingdom',
 'Luxembourg',
 'USA',
 'Canada',
 'USA',
 'United Kingdom',
 'USA',
 'USA',
 'United Kingdom',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Germany',
 'Norway',
 'Norway',
 'Russia',
 'Russia',
 'Russia',
 'Spain',
 'Spain',
 'USA',
 'USA',
 'Japan',
 'Kazakhstan',
 'USA',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'USA',
 'USA',
 'USA',
 'Netherlands',
 'USA',
 'USA',
 'Luxembourg',
 'United Kingdom',
 'USA',
 'USA',
 'Luxembourg',
 'USA',
 'Japan',
 'United Kingdom',
 'Russia',
 'China',
 'Multinational',
 'Multinational',
 'USA',
 'ESA',
 'Multinational',
 'Multinational',
 'USA',
 'USA',
 'USA',
 'Japan',
 'Argentina',
 'USA',
 'Argentina',
 'Argentina',
 'USA',
 'Argentina',
 'USA',
 'Argentina',
 'Canada',
 'Canada',
 'USA',
 'Argentina',
 'Canada',
 'USA',
 'USA',
 'Multinational',
 'USA',
 'USA',
 'Brazil',
 'Luxembourg',
 'USA',
 'Netherlands',
 'Japan',
 'USA',
 'USA',
 'USA',
 'USA',
 'Canada',
 'USA',
 'Luxembourg',
 'Italy',
 'Japan',
 'Japan',
 'USA',
 'USA',
 'Multinational',
 'USA',
 'USA',
 'Luxembourg',
 'USA',
 'USA',
 'Multinational',
 'USA',
 'USA',
 'USA',
 'USA',
 'Luxembourg',
 'Japan',
 'USA',
 'Netherlands',
 'USA',
 'USA',
 'Switzerland',
 'Switzerland',
 'India',
 'USA',
 'USA',
 'Singapore',
 'Hungary',
 'Russia',
 'Multinational',
 'Japan',
 'USA',
 'Mexico',
 'Multinational',
 'USA',
 'Japan',
 'Spain',
 'USA',
 'Netherlands',
 'Russia',
 'Russia',
 'China',
 'Germany',
 'China',
 'China',
 'China',
 'Canada',
 'USA',
 'USA',
 'USA',
 'USA',
 'Greece',
 'United Arab Emirates',
 'Australia',
 'USA',
 'China',
 'China',
 'China',
 'USA',
 'USA',
 'USA',
 'Japan',
 'Russia',
 'USA',
 'USA',
 'Multinational',
 'Multinational',
 'USA',
 'USA',
 'USA',
 'Canada',
 'USA',
 'USA',
 'Netherlands',
 'Spain',
 'USA',
 'United Kingdom',
 'China',
 'USA',
 'USA',
 'Russia',
 'Thailand',
 'USA',
 'Canada',
 'USA',
 'France',
 'United Kingdom',
 'USA',
 'Indonesia',
 'Multinational',
 'Multinational',
 'USA',
 'Japan',
 'China',
 'Multinational',
 'Bhutan',
 'Germany',
 'Germany',
 'USA',
 'Belarus',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Spain',
 'Japan',
 'Luxembourg',
 'USA',
 'Lithuania',
 'Multinational',
 'USA',
 'USA',
 'Multinational',
 'Canada',
 'Multinational',
 'Multinational',
 'France',
 'Japan',
 'France',
 'South Korea',
 'USA',
 'Australia',
 'China',
 'China',
 'Argentina',
 'USA',
 'France',
 'USA',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'USA',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Canada',
 'USA',
 'USA',
 'Multinational',
 'China',
 'Brazil',
 'China',
 'Brazil',
 'United Kingdom',
 'United Kingdom',
 'USA',
 'Australia',
 'Australia',
 'China',
 'USA',
 'Japan',
 'USA',
 'China',
 'France',
 'USA',
 'China',
 'ESA',
 'USA',
 'China',
 'China',
 'China',
 'China',
 'China',
 'Japan',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Malaysia',
 'USA',
 'USA',
 'Multinational',
 'USA',
 'Germany',
 'Multinational',
 'Multinational',
 'India',
 'South Africa',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Taiwan',
 'USA',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'USA',
 'ESA',
 'Italy',
 'USA',
 'France',
 'Argentina',
 'USA',
 'USA',
 'Japan',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Japan',
 'China',
 'USA',
 'USA',
 'China',
 'Spain',
 'Spain',
 'Netherlands',
 'Denmark',
 'USA',
 'USA',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Switzerland',
 'United Kingdom',
 'Canada',
 'Luxembourg',
 'USA',
 'China',
 'USA',
 'Japan',
 'USA',
 'India',
 'Philippines',
 'Japan',
 'Germany',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Australia',
 'USA',
 'United Kingdom',
 'Brazil',
 'Sweden',
 'USA',
 'Japan',
 'United Arab Emirates',
 'Russia',
 'Norway',
 'USA',
 'Germany',
 'USA',
 'United Arab Emirates',
 'Israel',
 'Israel',
 'Russia',
 'Brazil',
 'Italy',
 'USA',
 'Vietnam',
 'China',
 'Israel',
 'USA',
 'China',
 'United Kingdom',
 'Turkey',
 'Multinational',
 'USA',
 'USA',
 'USA',
 'Japan',
 'United Kingdom',
 'Ecuador',
 'Canada',
 'Egypt',
 'Russia',
 'Russia',
 'Russia',
 'USA',
 'USA',
 'Luxembourg',
 'Canada',
 'Multinational',
 'Multinational',
 'France',
 'France',
 'France',
 'France',
 'India',
 'Russia',
 'USA',
 'Canada',
 'Japan',
 'USA',
 'USA',
 'Japan',
 'Brazil',
 'USA',
 'USA',
 'Israel',
 'ESA',
 'Multinational',
 'Russia',
 'Netherlands',
 'France',
 'Ethiopia',
 'Germany',
 'France',
 'Canada',
 'Multinational',
 'USA',
 'Italy',
 'Luxembourg',
 'Malaysia',
 'USA',
 'USA',
 'USA',
 'China',
 'Japan',
 'Australia',
 'Indonesia',
 'USA',
 'Canada',
 'Spain',
 'Germany',
 'Netherlands',
 'Norway',
 'USA',
 'Multinational',
 'USA',
 'USA',
 'USA',
 'China',
 'Russia',
 'USA',
 'USA',
 'USA',
 'Canada',
 'Canada',
 'Canada',
 'USA',
 'Germany',
 'USA',
 'Luxembourg',
 'Luxembourg',
 'Germany',
 'Multinational',
 'Multinational',
 'South Korea',
 'USA',
 'China',
 'Egypt',
 'India',
 'ESA',
 'Colombia',
 'USA',
 'USA',
 'Multinational',
 'USA',
 'China',
 'China',
 'China',
 'Japan',
 'USA',
 'China',
 'China',
 'China',
 'Japan',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Brazil',
 'Germany',
 'China',
 'Taiwan',
 'USA',
 'Spain',
 'USA',
 'USA',
 'USA',
 'Netherlands',
 'USA',
 'USA',
 'China',
 'United Kingdom',
 'USA',
 'China',
 'Multinational',
 'Spain',
 'South Korea',
 'Russia',
 'USA',
 'China',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'ESA',
 'China',
 'China',
 'USA',
 'China',
 'China',
 'China',
 'United Arab Emirates',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'USA',
 'India',
 'Denmark',
 'Japan',
 'USA',
 'USA',
 'USA',
 'Russia',
 'Russia',
 'USA',
 'Singapore',
 'Taiwan',
 'Canada',
 'Multinational',
 'Canada',
 'USA',
 'Japan',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'USA',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'China',
 'China',
 'India',
 'Kazakhstan',
 'Luxembourg',
 'Turkey',
 'Turkey',
 'Denmark',
 'Denmark',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Japan',
 'China',
 'USA',
 'USA',
 'Japan',
 'USA',
 'Germany',
 'USA',
 'Germany',
 'Japan',
 'USA',
 'Japan',
 'Luxembourg',
 'Japan',
 'Pakistan',
 'China',
 'Russia',
 'Multinational',
 'Luxembourg',
 'Multinational',
 'USA',
 'USA',
 'Multinational',
 'USA',
 'China',
 'China',
 'Russia',
 'Nigeria',
 'China',
 'USA',
 'Luxembourg',
 'China',
 'China',
 'China',
 'China',
 'USA',
 'USA',
 'USA',
 'USA',
 'China',
 'China',
 'China',
 'France',
 'Italy',
 'Belgium',
 'Spain',
 'Greece',
 'France',
 'Italy',
 'Belgium',
 'Spain',
 'Greece',
 'USA',
 'USA',
 'China',
 'USA',
 'United Arab Emirates',
 'USA',
 'Japan',
 'Vietnam',
 'Multinational',
 'Canada',
 'China',
 'USA',
 'USA',
 'USA',
 'China',
 'China',
 'China',
 'Japan',
 'Japan',
 'Japan',
 ...]

In [14]:
Sat_count_46yr = pd.DataFrame (extracted_country_list,columns=['Country_of_Operator_Owner'])
Sat_count_46yr.reset_index()
# Sat_count_46yr.insert(0, "SN", Sat_count_46yr.index)

Sat_count_46yr = Sat_count_46yr['Country_of_Operator_Owner'].value_counts().to_frame()
Sat_count_46yr.reset_index(inplace=True)
Sat_count_46yr

             index  Country_of_Operator_Owner
0              USA                       1343
1            China                        363
2           Russia                        170
3   United Kingdom                        133
4            Japan                         87
..             ...                        ...
69         Ecuador                          1
70          Monaco                          1
71           Sudan                          1
72           Chile                          1
73          Bhutan                          1

[74 rows x 2 columns]

In [15]:
Sat_count_46yr.rename(columns={"Country_of_Operator_Owner": "Value_Counts", "index": "Country_of_Operator_Owner" }, inplace=True)

In [16]:
Sat_count_46yr.insert(0, "SN", Sat_count_46yr.index)
Sat_count_46yr

    SN Country_of_Operator_Owner  Value_Counts
0    0                       USA          1343
1    1                     China           363
2    2                    Russia           170
3    3            United Kingdom           133
4    4                     Japan            87
..  ..                       ...           ...
69  69                   Ecuador             1
70  70                    Monaco             1
71  71                     Sudan             1
72  72                     Chile             1
73  73                    Bhutan             1

[74 rows x 3 columns]

In [17]:
# export to csv
Sat_count_46yr.to_csv(os.path.join("Data", "Launch_by_Country_46yr.csv"), index=False)

### Satellite Launch Date DB

In [18]:
# new sliced table to contains launch date and broken down to 3 more columns
# day, month, and year
df['Launch_Date'] = pd.to_datetime(df['Launch_Date'])

In [19]:
Launch_Date = df[["Orig_Sequence", "Launch_Date", "Launch_Day", "Launch_Month","Launch_Year"]]

In [20]:
Launch_Date.head()

   Orig_Sequence Launch_Date  Launch_Day  Launch_Month  Launch_Year
0              0  2019-12-11          11            12         2019
1              1  1988-09-29          29             9         1988
2              2  1989-09-25          25             9         1989
3              3  2016-04-25          25             4         2016
4              4  1990-08-30          30             8         1990

In [21]:
# export to csv
Launch_Date.to_csv(os.path.join("Data", "Launch_Date.csv"), index=False)

## Three tables for each datetime categ

In [22]:
day_counts = pd.DataFrame(Launch_Date['Launch_Day'].value_counts())
day_counts.sort_values(by=['Launch_Day'], ascending=False, inplace=True)
day_counts.reset_index(inplace=True)
day_counts.rename(columns={"index": "Day", "Launch_Day" : "Day_Counts"}, inplace=True)
day_counts.insert(0, "Serial_Number", day_counts.index)
day_counts

    Serial_Number  Day  Day_Counts
0               0   14         202
1               1   29         176
2               2   11         158
3               3   17         133
4               4   18         128
5               5   25         114
6               6    7         108
7               7   19         106
8               8   24         105
9               9   21          97
10             10   15          92
11             11    6          89
12             12   27          86
13             13   23          84
14             14   22          81
15             15    3          79
16             16    5          73
17             17   20          66
18             18    8          62
19             19   28          61
20             20    1          61
21             21   26          60
22             22   31          59
23             23   16          58
24             24    9          57
25             25   30          54
26             26   10          52
27             27   13          49
28             28    4          43
29             29    2          37
30             30   12          36

In [23]:
month_counts = pd.DataFrame(Launch_Date['Launch_Month'].value_counts())
month_counts.sort_values(by=['Launch_Month'], ascending=False, inplace=True)
month_counts.reset_index(inplace=True)
month_counts.rename(columns={"index": "Month", "Launch_Month" : "Month_Counts"}, inplace=True)
month_counts.insert(0, "Serial_Number", month_counts.index)
month_counts

    Serial_Number  Month  Month_Counts
0               0     12           354
1               1      2           302
2               2      1           287
3               3     11           263
4               4      7           235
5               5      6           222
6               6      3           205
7               7     10           180
8               8      9           175
9               9      5           168
10             10      4           141
11             11      8           134

In [24]:
year_counts = pd.DataFrame(Launch_Date['Launch_Year'].value_counts())
year_counts.sort_values(by=['Launch_Year'], ascending=False, inplace=True)
year_counts.reset_index(inplace=True)
year_counts.rename(columns={"index": "Year", "Launch_Year" : "Year_Counts"}, inplace=True)
year_counts.insert(0, "Serial_Number", year_counts.index)
year_counts

    Serial_Number  Year  Year_Counts
0               0  2019          389
1               1  2018          367
2               2  2017          348
3               3  2020          343
4               4  2014          141
5               5  2015          140
6               6  2016          126
7               7  2013          105
8               8  2011           86
9               9  2012           83
10             10  2010           69
11             11  2009           62
12             12  2007           57
13             13  2008           55
14             14  2006           41
15             15  2005           31
16             16  2002           30
17             17  2000           29
18             18  2004           29
19             19  2003           27
20             20  1997           23
21             21  1999           23
22             22  2001           18
23             23  1998           18
24             24  1996            8
25             25  1995            4
26             26  1994            4
27             27  1993            3
28             28  1990            2
29             29  1988            1
30             30  1989            1
31             31  1992            1
32             32  1991            1
33             33  1974            1

In [25]:
merge_table = pd.merge(month_counts, year_counts, on='Serial_Number',how='left')
merge_table

    Serial_Number  Month  Month_Counts  Year  Year_Counts
0               0     12           354  2019          389
1               1      2           302  2018          367
2               2      1           287  2017          348
3               3     11           263  2020          343
4               4      7           235  2014          141
5               5      6           222  2015          140
6               6      3           205  2016          126
7               7     10           180  2013          105
8               8      9           175  2011           86
9               9      5           168  2012           83
10             10      4           141  2010           69
11             11      8           134  2009           62

In [26]:
merge_table = pd.merge(merge_table, day_counts, on='Serial_Number',how='left')
merge_table

    Serial_Number  Month  Month_Counts  Year  Year_Counts  Day  Day_Counts
0               0     12           354  2019          389   14         202
1               1      2           302  2018          367   29         176
2               2      1           287  2017          348   11         158
3               3     11           263  2020          343   17         133
4               4      7           235  2014          141   18         128
5               5      6           222  2015          140   25         114
6               6      3           205  2016          126    7         108
7               7     10           180  2013          105   19         106
8               8      9           175  2011           86   24         105
9               9      5           168  2012           83   21          97
10             10      4           141  2010           69   15          92
11             11      8           134  2009           62    6          89

In [27]:
merge_table.to_csv(os.path.join("Data", "Top10_Launch_Dates.csv"), index=False)

### DemoGraphic Data

In [28]:
# new sliced table for demographic information of each satellite names
demoGData = df[['Orig_Sequence', 'Satellite_Names', 'Launch_Date', 'Country_of_Operator_Owner', 'Launch_Site', 'Operator_Owner',
       'Purpose', 'Orbit_Classes', 'Period_minutes', 'Launch_Mass_km',
       ]]

In [29]:
# remove comma thoudsand seperator, then convert from string to float
demoGData['Period_minutes'] = round(demoGData['Period_minutes'].str.replace(',', '', regex=True).astype('float'),2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
# create new columns period hours from minutes
demoGData.insert(8, "Period_Hours", round(demoGData['Period_minutes']/60,2), allow_duplicates = False)

In [31]:
# export to csv
demoGData.to_csv(os.path.join("Data", "Demographic_Data.csv"), index=False)